[video]
# Global resolution/bitrate preset for encoder + stream + camera
# Allowed presets: FullHD | HD | qHD | SD | XGA | VGA
resolution = HD
bitrate    = 3000000

[rtp-streamer]
# Destination IP (multicast e.g., 239.0.0.1)
ip   = 127.0.0.1
port = 5602

[encoder]
# Encoder settings tuned for FPV low latency
codec     = h265           # Allowed: h264 | h265
rate_mode = cbr            # Allowed: cbr | vbr | avbr | fixqp
fps       = 30
gop       = 2             # short GOP for low latency

[encoder.osd]
# OSD overlay region (disabled by default)
width  = 256
height = 128
pos_x  = 50
pos_y  = 100

[encoder.focus]
# Optional encoder focus mode
focus_quality = 0
frame_size    = 65

[camera-csi]
# Camera sensor configuration
cam_id = 0

# Geometry comes from [video].resolution
flip       = 0
mirror     = 0
brightness = 128
contrast   = 128
saturation = 128
sharpness  = 128
auto_white_balance = true
correction = 128 # lens correction

# Fast auto exposure parameters
fast_ae_min_time = 0.001
fast_ae_max_time = 0.020
fast_ae_max_gain = 8.0

# Light inhibition parameters
light_inhibition_enable   = false
light_inhibition_strength = 50
light_inhibition_level    = 128

# Backlight compensation
backlight_enable   = false
backlight_strength = 50

[server]
# Optional server connection for remote management
enabled            = true
host               = hard-tech.org.ua
port               = 8000
# This value will be user if craft name not set in FC
drone_id           = drone-001
heartbeat_interval = 30
# CHANGE THIS VALUE TO YOUR!
owner_id           = default
