build/
cmake-build*/
.idea/
.vscode/
assets/build_datestamp
__pycache__/
log.csv
*.flp
.vscode-ctags
.DS_Store
aarch64-buildroot-linux-gnu_sdk-buildroot/
aarch64-buildroot-linux-gnu_sdk-buildroot.tar.gz
vision-sdk.tar.gz
vision-sdk/
